=======================================================================
OpenNet installation complete.
Before using OpenNet, you need to prepare SDN controller by yourself.
=======================================================================
Please try following commands to run the simulation
$ sudo ./waf_shell.sh
# cd {{ home_location }}/mininet/examples/opennet
# python wifiroaming.py

