=======================================================================
OpenNet installation has completed.
With an SDN controller, the example script should work fine.
=======================================================================
$ sudo su -
# cd {{ home_location }}
# git clone https://github.com/noxrepo/pox.git
# cd {{ home_location }}/pox
# ./pox.py forwarding.l2_learning &
# cd {{ home_location }}/mininet/examples/opennet
# python wifiroaming.py

